<div ng-include="'/app/views/header.ejs'">
</div>
	<div class="container breadcrub">
	    <div>
			<a class="homebtn left" href="/"></a>
			<div class="left">
				<ul class="bcrumbs">
					<li>/</li>
					<li><a href="/about" class="active">About us</a></li>					
				</ul>				
			</div>
			<a class="backbtn right" href="/"></a>
		</div>
		<div class="clearfix"></div>
		<div class="brlines"></div>
	</div>	

	<!-- CONTENT -->
	<div class="container">

		
		<div class="container mt25 offset-0">
			
			
			<!-- CONTENT -->
			<div class="col-md-12 pagecontainer2 offset-0">
				<div class="hpadding50c">
					<p class="lato size30 slim">Meet the team</p>
					<p class="aboutarrow"></p>
				</div>
				<div class="line3"></div>
				
				<div class="hpadding50c">
					
					<p class="lato size22 slim textcenter">
					Your online travel agency. As one of the world's leading online travel companies,<br/>
					we make it easy to plan your next business or leisure trip
					</p>
					<br/>
					<div class="line3"></div>
					<br/>

					<!-- LEFT IMG -->
					<div class="col-md-8 cpdd01">
						<img src="/images/TZboy.jpg" class="fwimg" alt=""/>
					</div>
					<!-- END OF LEFT IMG -->
					
					<!-- IMG RIGHT TEXT -->
					<div class="col-md-4 cpdd02">
						<div class="opensans size18 grey">
							<span class="lato dark bold">Company</span><br/>
							We are a group of students in FEUP, eager to always get better at programming and with concern with social impact. Hit us if you think you have something interesting!
							<br/><br/>	
						</div>
					</div>
					<!-- END OF IMG RIGHT TEXT -->
					<div class="clearfix"></div>
					<br/><br/>
					
				
					<span class="lato size18 dark bold">Meet the Team</span><br/><br/>
					
					<div class="col-md-4">
						<div class="abover ohidden">
							<div class="abbg">
								<div class="socials-container">
									<a href="#" data-placement="top" title="Twitter" class="left"><span class="socials-twitter "></span></a>
									<a href="#" data-placement="top" title="Facebook" class="left"><span class="socials-facebook "></span></a>
									<a href="#" data-placement="top" title="Google Plus" class="left"><span class="socials-gplus "></span></a>
								</div>
							</div>
							<img src="images/about-women.jpg" class="fwimg" alt=""/>
							<div class="chart none" data-percent="69" style="float:right; margin-top:-60px; right:10px;"><span class="countbouncerate">69</span>%</div>
						</div>
						<p class="lato lh2 mt10"><b>John Doe</b><br/>
						Marketing
						</p>
					</div>
					<div class="col-md-4">
						<div class="abover ohidden">
							<div class="abbg">
								<div class="socials-container">
									<a href="#" data-placement="top" title="Twitter" class="left"><span class="socials-twitter "></span></a>
									<a href="#" data-placement="top" title="Facebook" class="left"><span class="socials-facebook "></span></a>
									<a href="#" data-placement="top" title="Google Plus" class="left"><span class="socials-gplus "></span></a>
								</div>
							</div>
							<img src="images/about-men2.jpg" class="fwimg" alt=""/>
							<div class="chart2 none" data-percent="69" style="float:right; margin-top:-60px; right:10px;"><span class="countnewvisits">81</span>%</div>
						</div>
						<p class="lato lh2 mt10"><b>John Doe</b><br/>
						C.E.O. 
						</p>						
					</div>
					<div class="col-md-4">
						<div class="abover ohidden">
							<div class="abbg">
								<div class="socials-container">
									<a href="#" data-placement="top" title="Twitter" class="left"><span class="socials-twitter "></span></a>
									<a href="#" data-placement="top" title="Facebook" class="left"><span class="socials-facebook "></span></a>
									<a href="#" data-placement="top" title="Google Plus" class="left"><span class="socials-gplus "></span></a>
								</div>
							</div>
							<img src="images/about-women2.jpg" class="fwimg" alt=""/>	
							<div class="chart3 none" data-percent="69" style="float:right; margin-top:-60px; right:10px;"><span class="countsearchtrafic">33</span>%</div>							
						</div>
						<p class="lato lh2 mt10"><b>John Doe</b><br/>
						Marketing
						</p>						
					</div>		
					<div class="clearfix"></div>
					
					<br/>
					<br/>
				
						
					<div class="clearfix"></div>
					
					
				</div>
			
			<!-- END CONTENT -->			
			

			
		</div>
		
		
	</div>
	<!-- END OF CONTENT -->


<div ng-include="'/app/views/footer.ejs'"></div>