<!-- Bootstrap -->
<link href="../dist/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="../assets/css/custom.css" rel="stylesheet" media="screen">
<link href="../examples/carousel/carousel.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>
<!-- Font-Awesome -->
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css" media="screen" />
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->
<!-- REVOLUTION BANNER CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="../css/fullscreen.css" media="screen" />
<link rel="stylesheet" type="text/css" href="../rs-plugin/css/settings.css" media="screen" />
<!-- Picker UI-->
<link rel="stylesheet" href="../assets/css/jquery-ui.css" />
<!-- bin/jquery.slider.min.css -->
<link rel="stylesheet" href="../plugins/jslider/css/jslider.css" type="text/css">
<link rel="stylesheet" href="../plugins/jslider/css/jslider.round-blue.css" type="text/css">
<!-- jQuery-->
<script src="../assets/js/jquery.v2.0.3.js"></script>
<script src="../assets/js/jquery-ui.js"></script>
<!-- bin/jquery.slider.min.js -->
<script type="text/javascript" src="../plugins/jslider/js/jshashtable-2.1_src.js"></script>
<script type="text/javascript" src="../plugins/jslider/js/jquery.numberformatter-1.2.3.js"></script>
<script type="text/javascript" src="../plugins/jslider/js/tmpl.js"></script>
<script type="text/javascript" src="../plugins/jslider/js/jquery.dependClass-0.1.js"></script>
<script type="text/javascript" src="../plugins/jslider/js/draggable-0.1.js"></script>
<script type="text/javascript" src="../plugins/jslider/js/jquery.slider.js"></script>
<!-- end -->
<!-- Top wrapper -->
<div class="navbar-wrapper2 navbar-fixed-top">
    <div class="container">
        <div class="navbar mtnav">
            <div class="container offset-3">
                <!-- Navigation-->
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand"><img src="/images/logo.png" alt="Travel Agency Logo" class="logo" /></a>
                </div>
                <div class="navbar-collapse collapse" ng-controller="UserCtrl" data-ng-init="getLoggedUser()">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/packages">Dive Packages</a></li>
                        <li><a href="#">Marine Conservation</a></li>
                        <!-- <li><a href="#">Become a Partner</a></li> -->
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li class="dropdown active">
                            <!--
                    {% if user %}
                    <a data-toggle="dropdown" class="dropdown-toggle">{{ user.username }} <b class="lightcaret mt-3"></b></a>
                    <ul class="dropdown-menu posright-0">
                        <li>
                            <div class="row dropwidth01">
                                <ul class="droplist col-md-6">
                                    <li><a href="/profile">Profile</a></li>
                                </ul>
                                <ul class="droplist col-md-6">
                                    <li class="dropdown-header">If not, create one!</li>
                                    <li><a href="/logout">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    {% else %}-->
                            <a ng-if="user.logged == false" data-toggle="dropdown" class="dropdown-toggle">Not Logged In<b class="lightcaret mt-3"></b></a>
                            <a ng-if="user.logged == true" data-toggle="dropdown" class="dropdown-toggle">{{user.firstname}}<b class="lightcaret mt-3"></b></a>
                            <ul ng-if="user.logged == false" class="dropdown-menu posright-0">
                                <li>
                                    <div class="row dropwidth01">
                                        <ul class="droplist col-md-6">
                                            <li class="dropdown-header">Already have an account?</li>
                                            <a href="/login">
                                                <li>Login</li>
                                            </a>
                                        </ul>
                                        <ul class="droplist col-md-6">
                                            <li class="dropdown-header">If not, create one!</li>
                                            <a href="/register">
                                                <li>Register</li>
                                            </a>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <ul ng-if="user.logged == true" class="dropdown-menu posright-0">
                                <li>
                                    <div class="row dropwidth01">
                                        <ul class="droplist col-md-6">
                                            <a href="/profile">
                                                <li>Profile</li>
                                            </a>
                                        </ul>
                                        <ul class="droplist col-md-6">
                                            <a href="/logout">
                                                <li>Logout</li>
                                            </a>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <!-- {% endif %}-->
                        </li>
                    </ul>
                </div>
                <!-- /Navigation-->
            </div>
        </div>
    </div>
</div>
<!-- /Top wrapper -->
