<div ng-include="'/app/views/header.ejs'">
</div>
<div data-ng-init="getPackageID()" class="container breadcrub">
    <div>
        <a class="homebtn left" href="/"></a>
        <div class="left">
            <ul class="bcrumbs">
                <li>/</li>
                <li><a href="/packages">Dive Packages</a></li>
                <li>/</li>
                <li><a href="" class="active">{{ packageOnUse.title }}</a></li>
            </ul>
        </div>
        <a class="backbtn right" href="/packages"></a>
    </div>
    <div class="clearfix"></div>
    <div class="brlines"></div>
</div>
<div class="container">
    <div class="container pagecontainer offset-0">
        <!-- SLIDER -->
        <div class="col-md-8 details-slider">
            <div id="c-carousel">
                <div id="wrapper">
                    <div id="inner">
                        <div id="caroufredsel_wrapper2">
                            <div id="carousel">
                                <img src="../../../images/packages/default.jpg" alt="" />
                                <!--ng-repeat = "image in packageOnUse.image"-->
                            </div>
                        </div>
                        <!--
                            <div id="pager-wrapper">
                                <div id="pager">
                                    <img ng-repeat = "image in packageOnUse.image" src="/package/{{ package.id }}/{{ image.name }}" alt="" />
                                </div>
                            </div>
-->
                    </div>
                    <div class="clearfix"></div>
                    <button id="prev_btn2" class="prev2"><img src="/images/spacer.png" alt="" /></button>
                    <button id="next_btn2" class="next2"><img src="/images/spacer.png" alt="" /></button>
                </div>
            </div>
            <!-- /c-carousel -->
        </div>
        <!-- END OF SLIDER -->
        <!-- RIGHT INFO -->
        <div class="col-md-4 detailsright offset-0">
            <div class="padding20">
                <h4 class="lh1">{{ packageOnUse.title }}</h4>
                <h5>Country</h5>
            </div>
            <div class="line3"></div>
            <div class="hpadding20">
                <h2 class="opensans slim green2">{{ packageOnUse.currency }}{{ packageOnUse.price }}</h2>
            </div>
            <div class="line3 margtop20"></div>
            <!--
                <div class="col-md-6 bordertype1 padding20">
                    <span class="opensans size30 bold grey2">{{ recommendations }}%</span><br/>
                    of guests<br/>recommend
                </div>
                <div class="col-md-6 bordertype2 padding20">
                    <span class="opensans size30 bold grey2">{{ reviewAverage }}</span>/5<br/>
                    guest ratings
                </div>
                
                <div class="col-md-6 bordertype3">
                    {% if reviewAverage < 1.5 %}
                    <img src="/images/smallrating-1.png" alt=""/>
                    {% elseif reviewAverage < 2.5 %}
                    <img src="/images/smallrating-2.png" alt=""/>
                    {% elseif reviewAverage < 3.5 %}
                    <img src="/images/smallrating-3.png" alt=""/>
                    {% elseif reviewAverage < 4.5 %}
                    <img src="/images/smallrating-4.png" alt=""/>
                    {% else %}
                    <img src="/images/smallrating-5.png" alt=""/>
                    {% endif %}
                    <br/>{{ reviews.length }} reviews
                </div>

                -->
            <!--<div class="col-md-6 bordertype3" ng-show="packageOnUse.difficulty == 0">
                <img src="images/user-rating-0.png" alt="" />
            </div>
            <div class="col-md-6 bordertype3" ng-show="packageOnUse.difficulty == 1">
                <img src="images/user-rating-1.png" alt="" />
                <br>Easy
            </div>
            <div class="col-md-6 bordertype3" ng-show="packageOnUse.difficulty == 2">
                <img src="images/user-rating-2.png" alt="" />
                <br>Medium
            </div>
            <div class="col-md-6 bordertype3" ng-show="packageOnUse.difficulty == 3">
                <img src="images/user-rating-3.png" alt="" />
                <br>Medium Hard
            </div>
            <div class="col-md-6 bordertype3" ng-show="packageOnUse.difficulty == 4">
                <img src="images/user-rating-4.png" alt="" />
                <br>Hard
            </div>
            <div class="col-md-6 bordertype3" ng-show="packageOnUse.difficulty == 5">
                <img src="images/user-rating-5.png" alt="" />
                <br>Expert
            </div>-->
            <div class="col-md-12 bordertype3">
                {{packageOnUse.certification}}
            </div>
            <div class="col-md-6 bordertype1 padding20" ng-show="packageOnUse.show">
                <span class="opensans size30 bold grey2">{{packageOnUse.avg}}</span>/5
                <br/> divers ratings
            </div>
            <div class="col-md-6 bordertype1 padding20" ng-hide="packageOnUse.show">
                </br>
                <span>This package doesn't have reviews yet.</span>
            </div>
            <div class="col-md-6 bordertype1 padding20">
                </br> Package Includes: </br> {{packageOnUse.n_dives}} dives
            </div>
            <div class="clearfix"></div>
            <br/>
            <!--
                <div class="col-md-6 bordertype3">
                    <span class="grey">Book now or add your review below!</span>
                </div>
                <div class="clearfix"></div><br/>
                -->
            <div class="hpadding20">
                <!--
                    {% if package.operator_id == user.id %}
                    <a href="/package/{{ package.id }}/edit" class="add2fav margtop5">Edit package</a>
                    {% endif %}
                -->
                <a href="#" class="add2fav margtop5">Add to wishlist</a>
                <a href="/book/{{ package.id }}" class="booknow margtop20 btnmarg">Book now</a>
            </div>
        </div>
        <!-- END OF RIGHT INFO -->
    </div>
    <!-- END OF container-->
    <div class="container mt25 offset-0" data-ng-init="tab = 1; getReviews()">
        <div class="col-md-8 pagecontainer2 offset-0">
            <div class="cstyle10"></div>
            <!--    <ul class="nav nav-tabs" id="myTab">
                    <li onclick="mySelectUpdate()" class="active"><a data-toggle="tab" href="#summary"><span class="summary"></span><span class="hidetext">Description</span></a></li>
                    <li onclick="loadScript()" class=""><a data-toggle="tab" href="#maps"><span class="maps"></span><span class="hidetext">Maps</span></a></li>
                    <li onclick="mySelectUpdate();" class=""><a data-toggle="tab" href="#reviews"><span class="reviews"></span><span class="hidetext">Reviews</span></a></li>
                </ul> -->
            <ul class="nav nav-tabs" id="myTab">
                <li class="opensans dark size14 bold" ng-class="{active:tab === 1}"><a data-toggle="tab" href ng-click="tab = 1"><span class="summary"></span><span class="hidetext">Description</a></li>
                <li class="opensans dark size14 bold" ng-class="{active:tab === 2}" onclick="loadScript()"><a data-toggle="tab" href ng-click="tab = 2"><span class="maps"></span><span class="hidetext">Maps</a></li>
                <li class="opensans dark size14 bold" ng-class="{active:tab === 3}"><a data-toggle="tab" href ng-click="tab = 3"><span class="reviews"></span><span class="hidetext"></span>Reviews</a></li>
            </ul>
            <div class="panel" ng-show="tab === 1">
                <h4 class="opensans dark size16 bold">Description</h4>
                <p>{{ packageOnUse.description }}</p>
                <div class="line4"></div>
                <h4 class="opensans dark size16 bold">What you will see</h4>
                <div class="line4"></div>
                <h4 class="opensans dark size16 bold">Included</h4>
                <div class="line4"></div>
                <h4 class="opensans dark size16 bold">Not Included</h4>
                <div class="line4"></div>
                <h4 class="opensans dark size16 bold">Duration</h4>
                <div class="line4"></div>
                <h4 class="opensans dark size16 bold">Max. Depth</h4>
                <div class="line4"></div>
                <h4 class="opensans dark size16 bold">Visibility</h4>
                <div class="line4"></div>
            </div>
            <div class="panel" ng-show="tab === 2">
                <h4 class="opensans dark size16 bold">Maps</h4>
                <div id="map-canvas"></div>
                <input id="map-canvaslat" type="text" value="{{ packageOnUse.lat }}">
                <input id="map-canvaslng" type="text" value="{{ packageOnUse.lng }}">
            </div>
            <div class="panel" ng-show="tab === 3">
                <h4 class="opensans dark size16 bold">Reviews</h4>
                <p></p>
                <div class="line2"></div>
                <div>
                    <div ng-repeat="review in reviews" class="hpadding20">
                        <div class="col-md-4 offset-0 center">
                            <div class="padding20">
                                <div class="bordertype5">
                                    <div class="circlewrap">
                                        <img src="images/user-avatar.jpg" class="circleimg" alt="" />
                                        <span>{{ review.rating }}</span>
                                    </div>
                                    <span class="dark">{{ review.name }}</span>
                                    <br/>
                                    <div ng-show="review.country">from {{ review.country }}</div>
                                    <br/>
                                    <img src="images/check.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 offset-0">
                            <div class="padding20">
                                <span class="opensans size16 dark">{{ review.title }}</span>
                                <br/>
                                <span class="opensans size13 lgrey">Posted {{ review.reviewdate }}</span>
                                <br/>
                                <p>{{ review.comment }}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="line2"></div>
                <h4 class="opensans dark size16 bold">Submit your review</h4>
                <div class="line2"></div>
                <div class="wh33percent left ">
                    <ul class="jslidetext2">
                        <li>Rating*</li>
                        </br>
                        <li>Title</li>
                        </br>
                        <li>Comment</li>
                    </ul>
                </div>
                <form>
                    <div class="wh66percent right offset-0">
                        <div class="padding20 jslidetext2">
                            <input ng-model="newReview.rating" type="radio" name="rating" value="5" required>
                            <label>5</label>
                            <input ng-model="newReview.rating" type="radio" name="rating" value="4">
                            <label>4</label>
                            <input ng-model="newReview.rating" type="radio" name="rating" value="3">
                            <label>3</label>
                            <input ng-model="newReview.rating" type="radio" name="rating" value="2">
                            <label>2</label>
                            <input ng-model="newReview.rating" type="radio" name="rating" value="1">
                            <label>1</label>
                            </br>
                            </br>
                            <input ng-model="newReview.title" type="text" name="title" class="form-control margtop10" placeholder="A brief description of your experience">
                            </br>
                            <textarea ng-model="newReview.comment" name="comment" class="form-control margtop10" rows="3" placeholder="Explain your rating"></textarea>
                            <div class="clearfix"></div>
                            <div ng-if="errorMessage">
                                <br/>
                                <div class="alert alert-warning">
                                    <strong>Info:</strong> {{errorMessage}}
                                </div>
                            </div>
                            <button ng-click="insertNewReview(newReview)" type="submit" class="btn-search4 margtop20">Submit</button>
                            <br/>
                        </div>
                    </div>
                </form>
                <!--
                <div class="wh33percent left center">
                    <ul class="jslidetext2">
                        <li>Evaluation</li>
                        <li>Title</li>
                        <li>Comment</li>
                    </ul>
                </div>
                <form name="reviewForm">
                    <!--    <select>
                                <option value="1">1 star</option>
                                <option value="2">2 star</option>
                                <option value="3">3 star</option>
                                <option value="4">4 star</option>
                                <option value="5">5 star</option>
                            </select>

                            <textarea></textarea>
                            <input type="submit" value="Submit"></input>
                            
                    <div class="wh66percent right offset-0">
                        <select class="form-control mySelectBoxClass margtop10">
                            <option value="1" selected>Wonderful!</option>
                            <option value="2">Nice</option>
                            <option value="3">Neutral</option>
                            <option value="4">Don't recommend</option>
                        </select>
                        <input type="text" class="form-control margtop10" placeholder="">
                        <textarea class="form-control margtop10" rows="3"></textarea>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn-search4 margtop20">Submit</button>
                        </br>
                        </br>
                    </div>
                </form>
            </div>-->
                <!--<div class="tab-content4" >
                    <!-- DESCRIPTION                
                    <div id="summary" class="tab-pane fade active in">
                        <p class="hpadding20">
                        {{ packageOnUse.description }}
                        </p>                
                    </div>
                    -->
                <!-- LOCATION -->
                <!--    <div id="maps" class="tab-pane fade">
                        <div class="hpadding20">
                            
                            
                        </div>
                    </div> -->
                <!-- REVIEWS -->
                <!--                
                    <div id="reviews" class="tab-pane fade ">
                        <div class="hpadding20">
                            <div class="col-md-4 offset-0">
                                <span class="opensans dark size60 slim lh3 ">{{ reviewAverage }}/5</span><br/>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        
                        <div class="line2"></div>
                        
                        {% for review in reviews %}
                        <div class="hpadding20">                            
                            <div class="col-md-4 offset-0 center">
                                <div class="padding20">
                                    <div class="bordertype5">
                                        <div class="circlewrap">
                                            <img src="/images/user-avatar.jpg" class="circleimg" alt=""/>
                                            <span>{{ review.score }}</span>
                                        </div>
                                        <span class="dark">by {{ user.username }}</span><br/>
                                        from {{ user.country_code }}<br/>
                                        {% if review.recommended %}
                                        <img src="/images/check.png" alt=""/><br/>
                                        <span class="green">Recommended</span>
                                        {% else %}
                                        <img src="/images/delete_old.png" alt=""/><br/>
                                        <span class="red">Not Recommended</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 offset-0">
                                <div class="padding20">
                                    <span class="opensans size16 dark">{{ review.title }}</span><br/>
                                    <span class="opensans size13 lgrey">Posted {{ review.date.toString() }}</span><br/>
                                    <p>{{ review.review }}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="line2"></div>
                        {% endfor %}
                        
                        {% if user %}
                        <div class="hpadding20">
                            <span class="opensans dark size16 bold">Add your review</span>
                        </div>
                        
                        <div class="line2"></div>

                        <div class="wh33percent left ">
                            <ul class="jslidetext2">
                                <li>Rating*</li>
                                <li style="margin-top: 10px;">Recommended*</li>
                                </br>
                                <li>Title</li>
                                </br>
                                <li>Comment</li>
                            </ul>
                        </div>
                        <form action="/api/review" method="post">
                        <div class="wh66percent right offset-0">
                            <div class="padding20 jslidetext2">
                                <input type="hidden" name="userId" value="{{ user.id }}">
                                <input type="hidden" name="packageId" value="{{ package.id }}">

                                <input type="radio" name="score" value="5" required>
                                <label>5</label>

                                <input type="radio" name="score" value="4">
                                <label>4</label>

                                <input type="radio" name="score" value="3" >
                                <label>3</label>

                                <input type="radio" name="score" value="2">
                                <label>2</label>

                                <input type="radio" name="score" value="1">
                                <label>1</label>

                                </br>

                                <input type="radio" name="recommended" value="1" required>
                                <label>Yes</label>
                                <input type="radio" name="recommended" value="0">
                                <label>No</label>
                                </br>
                                </br>
                                <input type="text" name="title" class="form-control margtop10" placeholder="A brief description of your experience">
                                </br>
                                <textarea name="review" class="form-control margtop10" rows="3" placeholder="Explain your rating"></textarea>
                                
                                <div class="clearfix"></div>
                                <button type="submit" class="btn-search4 margtop20">Submit</button> 

                                <br/>
                                <br/>
                                <br/>
                                <br/>
                            </div>                          
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    {% endif %}
                    </div>
                    -- >
                    <!-- REVIEWS -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="pagecontainer2 testimonialbox">
                <div class="cpadding0 mt-10">
                    <span class="icon-quote"></span>
                    <p class="opensans size16 grey2">{{reviews[0].title}} - <span class="opensans size16 grey2 bold">{{reviews[0].rating}}*</span></p> 
                    <span class="opensans size13 lgrey">{{ reviews[0].name }}</span>
                </div>
            </div>
            <div class="pagecontainer2 mt20 needassistancebox">
                <div class="cpadding1">
                    <span class="icon-help"></span>
                    <h3 class="opensans">Need Assistance?</h3>
                    <p class="size14 grey">Our team is 24/7 at your service to help you with your booking issues or answer any related questions</p>
                    <p class="opensans size30 lblue xslim">1-866-599-6674</p>
                </div>
            </div>
            <br/>
            <div class="pagecontainer2 mt20 alsolikebox">
                <div class="cpadding1">
                    <span class="icon-location"></span>
                    <h3 class="opensans">Sugestions about other packages</h3>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-include="'/app/views/footer.ejs'"></div>
