<!-- Bootstrap -->
<link href="../dist/css/bootstrap.css" rel="stylesheet" media="screen">
<link href="../assets/css/custom.css" rel="stylesheet" media="screen">
<!-- Animo css-->
<link href="../plugins/animo/animate+animo.css" rel="stylesheet" media="screen">
<link href="../examples/carousel/carousel.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
	  <script src="assets/js/html5shiv.js"></script>
	  <script src="assets/js/respond.min.js"></script>
	<![endif]-->
<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>
<!-- Font-Awesome -->
<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css" media="screen" />
<!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="assets/css/font-awesome-ie7.css" media="screen" /><![endif]-->
<!-- Load jQuery -->
<script src="../assets/js/jquery.v2.0.3.js"></script>
<!-- 100% Width & Height container  -->
<div class="login-fullwidith">
    <!-- Login Wrap  -->
    <div class="login-wrap">
        <img src="images/logo.png" class="login-img" alt="logo" />
        <br/>
        <div class="register-c1">
            <div class="cpaddingleftright50">
                <br/>
                <div ng-if="errorMessage">
                    <div class="alert alert-warning">
                        <strong>Warning!</strong> {{errorMessage}}
                    </div>
                </div>
                <h3>Register</h3>
                <!-- TODO: Username no mínimo-->
                <input ng-model="user.email" type="email" class="form-control logpadding" name="email" placeholder="Email" required>
                <br/>
                <input ng-model="user.password" type="password" class="form-control logpadding" name="password" placeholder="Password" id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$" required title="5 characters minimum" required>
                <br/>
                <input ng-model="user.confirmPassword" type="password" class="form-control logpadding" name="confirm_password" placeholder="Confirm password" id="confirm_password" required/>
                <br/>
            </div>
        </div>
        <div class="register-c2">
            <div class="logmargfix">
                <div class="cpaddingleftright50">
                    <div class="alignbottom">
                        <button class="bluebtn margtop20" id="submitButton" type="submit" ng-click="register()" disabled>Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Login Wrap  -->
</div>
<!-- End of Container  -->
<script>
$('#confirm_password').on('keyup', function() {
    if ($(this).val() == $('#password').val()) {
        $('#submitButton').prop("disabled", false);
        $('#confirm_password').css('border', '2px solid green');
    } else {
        $('#submitButton').prop("disabled", false);
        $('#confirm_password').css('border', '2px solid red');
    }
});
</script>
<script src="../assets/js/initialize-loginpage.js"></script>
<script src="../assets/js/jquery.easing.js"></script>
<!-- Load Animo -->
<script src="../plugins/animo/animo.js"></script>
<script>
function errorMessage() {
    $('.login-wrap').animo({
        animation: 'tada'
    });
}
</script>
